<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div th:replace="~{fragments/top-menu :: top-panel(${menuGroups}, 'Вход/Регистрация', 0)}"></div>
            <!-- Account-Page -->
            <div class="page-account u-s-p-t-80">
                <div class="container">
                    <div class="row">
                        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}" class="alert alert-danger col-sm-12 mt-3" role="alert">
                            Неверное имя или пароль!
                        </div>
                        <div th:if="${errorMessage != null and !errorMessage.isEmpty()}" class="alert alert-danger col-sm-12 mt-3" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Login -->
                        <div class="col-lg-6">
                            <div class="login-wrapper">
                                <h2 class="account-h2 u-s-m-b-20">Вход</h2>
                                <h6 class="account-h6 u-s-m-b-30">Введите ваш e-mail и пароль, если вы уже зарегистрированы.</h6>
                                <form action="/login"  method="post">
                                    <div class="u-s-m-b-30">
                                        <label for="user-name-email">E-mail
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="username" type="text" id="user-name-email" class="text-field" placeholder="E-mail">
                                    </div>
                                    <div class="u-s-m-b-30"><!-- password-container -->
                                        <label for="login-password">Пароль
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="password" type="password" id="login-password" class="text-field" placeholder="Пароль">
<!--                                        <button type="button" id="togglePassword"><i class="ion ion-md-eye-off"></i></button>-->
                                    </div>
<!--                                    <div class="group-inline u-s-m-b-30">-->
<!--                                        <div class="group-1">-->
<!--                                            <input type="checkbox" class="check-box" id="remember-me-token">-->
<!--                                            <label class="label-text" for="remember-me-token">Remember me</label>-->
<!--                                        </div>-->
<!--                                        <div class="group-2 text-right">-->
<!--                                            <div class="page-anchor">-->
<!--                                                <a href="lost-password.html">-->
<!--                                                    <i class="fas fa-circle-o-notch u-s-m-r-9"></i>Lost your password?</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="m-b-45">
                                        <button class="button button-outline-secondary w-100">Войти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Login /- -->
                        <!-- Register -->
                        <div class="col-lg-6">
                            <div class="reg-wrapper">
                                <h2 class="account-h2 u-s-m-b-20">Регистрация</h2>
                                <h6 class="account-h6 u-s-m-b-30">Регистрация необходима для оформления заказа на сайте.</h6>
                                <form th:action="@{/customer/register}"
                                      th:object="${registerRequest}"
                                      th:with="type=${T(ru.onalex.odashop.models.RegisterRequest)}" method="post">
                                    <div class="u-s-m-b-30" th:classappend="${#fields.hasErrors('username')} ? 'error'">
                                        <label for="email">E-mail (будет использоваться в качестве логина)
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{username}" type="text" id="email" class="text-field" placeholder="e-mail"/>
										<span th:if="${#fields.hasErrors('username')}"
                                              th:errors="*{username}" class="error-message"></span>
                                    </div>
                                    <div class="u-s-m-b-30"  th:classappend="${#fields.hasErrors('contactName')} ? 'error'">
                                        <label for="email">Ф.И.О. для контакта
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{contactName}" type="text" id="contact-name" class="text-field" placeholder="Ф.И.О.">
										<span th:if="${#fields.hasErrors('contactName')}"
                                              th:errors="*{contactName}" class="error-message"></span>
                                    </div>
                                    <div class="u-s-m-b-30"  th:classappend="${#fields.hasErrors('password')} ? 'error'">
                                        <label for="reg-password">Пароль
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{password}" type="password" id="reg-password" class="text-field" placeholder="Пароль">
										<span th:if="${#fields.hasErrors('password')}"
                                              th:errors="*{password}" class="error-message"></span>
                                    </div>
                                    <div class="u-s-m-b-30"  th:classappend="${#fields.hasErrors('password2')} ? 'error'">
                                        <label for="reg-password">Введите пароль еще раз
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{password2}" type="password" id="reg-password2" class="text-field" placeholder="Пароль">
										<span th:if="${#fields.hasErrors('password2')}"
                                              th:errors="*{password2}" class="error-message"></span>
                                    </div>
<!--                                    <div class="u-s-m-b-30" th:classappend="${#fields.hasErrors('termsAccepted')} ? 'error'">-->
<!--                                        <input th:field="*{termsAccepted}" type="checkbox" class="check-box" id="accept">-->
<!--                                        <label class="label-text no-color" for="accept">Я ознакомился(-лась) и соглашаюсь с -->
<!--                                            <a href="terms-and-conditions.html" class="u-c-brand">правилами и условиями</a>-->
<!--                                        </label>-->
<!--										 <span th:if="${#fields.hasErrors('termsAccepted')}"-->
<!--                                              th:errors="*{termsAccepted}" class="error-message"></span>-->
<!--                                    </div>-->
                                    <div class="u-s-m-b-30" th:classappend="${#fields.hasErrors('termsAccepted')} ? 'error'">
                                        <input th:field="*{termsAccepted}" type="checkbox" th:class="'check-box'" id="accept">
                                        <label class="label-text no-color" for="accept">Я ознакомился(-лась) и соглашаюсь с
                                            <a href="terms-and-conditions.html" class="u-c-brand">правилами и условиями</a>
                                        </label>
                                        <span th:if="${#fields.hasErrors('termsAccepted')}"
                                              th:errors="*{termsAccepted}" class="error-message"></span>
                                    </div>
                                    <div class="u-s-m-b-45">
                                        <button class="button button-primary w-100" type="submit">Зарегистрироваться</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Register /- -->
                    </div>
                </div>
            </div>
            <!-- Account-Page /- -->
    </div>
</div>
</div>
<!-- Custom-Deal-Page -->
<!-- Вставляем фрагмент футера -->
<div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
</body>
</html>
