<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div th:replace="~{fragments/top-menu :: top-panel(${menuGroups}, 'Вход/Регистрация', 0)}"></div>
<!--            <div class="row align-items-center">-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="v-menu v-close">-->
<!--                            <span class="v-title">-->
<!--                                <i class="ion ion-md-menu"></i>-->
<!--                                Все разделы-->
<!--                                <i class="fas fa-angle-down"></i>-->
<!--                            </span>-->
<!--                        <nav>-->
<!--                            <div class="v-wrapper">-->
<!--                                <ul class="v-list animated fadeIn">-->
<!--                                    <li class="js-backdrop" th:each="g : ${menuGroups}">-->
<!--                                        <a th:href="@{${g.purl}}">-->
<!--                                            <i class="ion ion-md-folder"></i>-->
<!--                                            <span th:text="${g.normalName}"/>-->
<!--&lt;!&ndash;                                                <i class="ion ion-ios-arrow-forward"></i>&ndash;&gt;-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-9">-->
<!--                    <h3>Вход/Регистрация</h3>-->
<!--                </div>-->
<!--            </div>-->
            <!-- Account-Page -->
            <div class="page-account u-s-p-t-80">
                <div class="container">
                    <div class="row">
                        <div class="ui-state-error" th:if="${errorMessage != null and !errorMessage.isEmpty()}">
                            <div class="ui-state-error" th:text="${errorMessage}"/>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Login -->
                        <div class="col-lg-6">
                            <div class="login-wrapper">
                                <h2 class="account-h2 u-s-m-b-20">Вход</h2>
                                <h6 class="account-h6 u-s-m-b-30">Введите ваш e-mail и пароль, если вы уже зарегистрированы.</h6>
                                <form action="/login" method="post">
                                    <div class="u-s-m-b-30">
                                        <label for="user-name-email">E-mail
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="username" type="text" id="user-name-email" class="text-field" placeholder="E-mail">
                                    </div>
                                    <div class="u-s-m-b-30"><!-- password-container -->
                                        <label for="login-password">Пароль
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="password" type="password" id="login-password" class="text-field" placeholder="Пароль">
<!--                                        <button type="button" id="togglePassword"><i class="ion ion-md-eye-off"></i></button>-->
                                    </div>
<!--                                    <div class="group-inline u-s-m-b-30">-->
<!--                                        <div class="group-1">-->
<!--                                            <input type="checkbox" class="check-box" id="remember-me-token">-->
<!--                                            <label class="label-text" for="remember-me-token">Remember me</label>-->
<!--                                        </div>-->
<!--                                        <div class="group-2 text-right">-->
<!--                                            <div class="page-anchor">-->
<!--                                                <a href="lost-password.html">-->
<!--                                                    <i class="fas fa-circle-o-notch u-s-m-r-9"></i>Lost your password?</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="m-b-45">
                                        <button class="button button-outline-secondary w-100">Войти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Login /- -->
                        <!-- Register -->
                        <div class="col-lg-6">
                            <div class="reg-wrapper">
                                <h2 class="account-h2 u-s-m-b-20">Регистрация</h2>
                                <h6 class="account-h6 u-s-m-b-30">Регистрация необходима для оформления заказа на сайте.</h6>
                                <form action="/customer/register" method="post">
                                    <div class="u-s-m-b-30">
                                        <label for="email">E-mail (будет использоваться в качестве логина)
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="username" type="text" id="email" class="text-field" placeholder="e-mail">
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <label for="email">Ф.И.О. для контакта
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="contactName" type="text" id="contact-name" class="text-field" placeholder="Ф.И.О.">
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <label for="reg-password">Пароль
                                            <span class="astk">*</span>
                                        </label>
                                        <input name="password" type="password" id="reg-password" class="text-field" placeholder="Пароль">
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <input type="checkbox" class="check-box" id="accept">
                                        <label class="label-text no-color" for="accept">I’ve read and accept the
                                            <a href="terms-and-conditions.html" class="u-c-brand">terms & conditions</a>
                                        </label>
                                    </div>
                                    <div class="u-s-m-b-45">
                                        <button class="button button-primary w-100">Зарегистрироваться</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Register /- -->
                    </div>
                </div>
            </div>
            <!-- Account-Page /- -->
    </div>
</div>
</div>
<!-- Custom-Deal-Page -->
<!-- Вставляем фрагмент футера -->
<div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
</body>
</html>
