<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="v-menu v-close">
                            <span class="v-title">
                                <i class="ion ion-md-menu"></i>
                                Все разделы
                                <i class="fas fa-angle-down"></i>
                            </span>
                        <nav>
                            <div class="v-wrapper">
                                <ul class="v-list animated fadeIn">
                                    <li class="js-backdrop" th:each="g : ${menuGroups}">
                                        <a th:href="@{${g.purl}}">
                                            <i class="ion ion-md-folder"></i>
                                            <span th:text="${g.normalName}">
<!--                                                <i class="ion ion-ios-arrow-forward"></i>-->
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-9">
                    <h3 th:text="${group_name} + ' (' + ${totalItems} + ')'"></h3>
                </div>
            </div>
            <!-- Cart-Page -->
            <div class="page-cart u-s-p-t-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Профиль пользователя</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cart-Page /- -->
        </div>
    </div>
</div>
    <!-- Custom-Deal-Page -->
    <!-- Вставляем фрагмент футера -->
    <div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
</body>
</html>
