<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <!-- Page-Bar -->
            <div class="page-bar clearfix">

            </div>
            <!-- Page-Bar /- -->
            <!-- Row-of-Product-Container -->
            <div class="row product-container grid-style">
                <div class="product-item col-lg-3 col-md-6 col-sm-6" th:each="t : ${groups}">
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" th:href="@{${t.purl}}">
                                <img class="img-fluid" th:src="'/assets/' + ${t.picPreview}" th:alt="${t.grupName}">
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is">
                                <h6 class="item-title">
                                    <a th:href="@{${t.purl}}"><span th:text="${t.normalName}"></a>
                                </h6>
<!--                                <p th:text="${t.alias}"></p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Custom-Deal-Page -->
    <!-- Вставляем фрагмент футера -->
    <div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
</body>
</html>
