<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div th:replace="~{fragments/top-menu :: top-panel(${menuGroups}, 'Редактирование профиля', 0)}"></div>
            <div class="page-checkout u-s-p-t-80">
                <div class="container">
                    <div class="row">
                        <div th:if="${errorMessage != null and !errorMessage.isEmpty()}" class="alert alert-danger col-sm-12 mt-3" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <div th:if="${success != null and !success.isEmpty()}" class="alert alert-success col-sm-12 mt-3" role="alert">
                            <span th:text="${success}"></span>
                        </div>
                    </div>

                    <form th:action="@{/customer/profile}"
                          th:object="${profileRequest}"
                          th:with="type=${T(ru.onalex.odashop.models.ProfileRequest)}" id="profile-edit" method="post">
                        <div class="row">
                            <!-- Recvisits -->
                            <div class="col-lg-6">
                                <input type="hidden" th:field="*{customerId}">
                                <input type="hidden" th:field="*{recvisitId}">
                                <h4 class="section-h4">Реквизиты заказчика</h4>
                                <!-- Form-Fields -->
                                <!--                                <div class="group-inline u-s-m-b-13"-->
                                <!--                                     th:classappend="${#fields.hasErrors('orgName')} ? 'error'">-->
                                <!--                                    <label for="org-name">Наименование предприятия-->
                                <!--                                        &lt;!&ndash;                                        <span class="astk">*</span>&ndash;&gt;-->
                                <!--                                    </label>-->
                                <!--                                    <input th:field="*{orgName}" type="text" id="org-name" class="text-field">-->
                                <!--                                    &lt;!&ndash;                                               th:value="${userData.getCustomer().getContactName()}"&ndash;&gt;-->
                                <!--                                    <span th:if="${#fields.hasErrors('orgName')}"-->
                                <!--                                          th:errors="*{orgName}" class="error-message"></span>-->

                                <!--                                </div>-->
                                <!--                                <div class="group-inline u-s-m-b-13"-->
                                <!--                                     th:classappend="${#fields.hasErrors('inn')} ? 'error'">-->
                                <!--                                    <label for="head-name">ИНН-->
                                <!--                                        &lt;!&ndash;                                        <span class="astk">*</span>&ndash;&gt;-->
                                <!--                                    </label>-->
                                <!--                                    <input th:field="*{inn}" type="text" id="head-name" class="text-field">-->
                                <!--                                    &lt;!&ndash;                                               th:value="${userData.getCustomer().getContactName()}"&ndash;&gt;-->
                                <!--                                    <span th:if="${#fields.hasErrors('inn')}"-->
                                <!--                                          th:errors="*{inn}" class="error-message"></span>-->
                                <!--                                </div>-->
                                <div class="street-address u-s-m-b-13"
                                     th:classappend="${#fields.hasErrors('address')} ? 'error'">
                                    <label for="req-st-address">Почтовый адрес
                                                                                <span class="astk">*</span>
                                    </label>
                                    <input th:field="*{address}" type="text" id="req-st-address" class="text-field"
                                           placeholder="Укажите адрес доставки">
                                    <span th:if="${#fields.hasErrors('address')}"
                                          th:errors="*{address}" class="error-message"></span>

                                </div>
                                <!--                                <div class="u-s-m-b-13">-->
                                <!--                                    <label for="town-city">Town / City-->
                                <!--                                        <span class="astk">*</span>-->
                                <!--                                    </label>-->
                                <!--                                    <input type="text" id="town-city" class="text-field">-->
                                <!--                                </div>-->
                                <div class="group-inline u-s-m-b-13">
                                    <div class="group-2" th:classappend="${#fields.hasErrors('phone')} ? 'error'">
                                        <label for="phone">Контактный телефон
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{phone}" type="text" id="phone" class="text-field"
                                               placeholder="+7 (___) ___-__-__">
                                        <span th:if="${#fields.hasErrors('phone')}"
                                              th:errors="*{phone}" class="error-message"></span>
                                    </div>
                                </div>
                                <div class="street-address u-s-m-b-13"
                                     th:classappend="${#fields.hasErrors('comment')} ? 'error'">
                                    <label for="req-st-comment">Комментарий к заказу</label>
                                    <textarea id="req-st-comment" class="text-area" th:field="*{comment}"></textarea>
                                    <span th:if="${#fields.hasErrors('comment')}"
                                          th:errors="*{comment}" class="error-message"></span>

                                </div>

                            </div>
                            <!-- Recvisits /- -->
                            <!-- Register -->
                            <div class="col-lg-6">
                                <div class="reg-wrapper">
                                    <h4 class="section-h4 u-s-m-b-20">Регистрационные данные</h4>
                                    <div class="discount-info" th:if="${profileRequest.discount} > 0">Ваша скидка: <span
                                            th:text="${profileRequest.discount}+' %'"></span></div>
                                    <div class="u-s-m-b-30" th:classappend="${#fields.hasErrors('username')} ? 'error'">
                                        <label for="email">E-mail (меняется по запросу)
                                            <span class="astk">*</span>
                                        </label>
                                        <input disabled th:value="*{username}" type="text" id="email"
                                               class="text-field"/>
                                        <input type="hidden" th:field="*{username}">
                                        <span th:if="${#fields.hasErrors('username')}"
                                              th:errors="*{username}" class="error-message"></span>
                                    </div>
                                    <div class="u-s-m-b-30"
                                         th:classappend="${#fields.hasErrors('contactName')} ? 'error'">
                                        <label for="email">Ф.И.О. для контакта
                                            <span class="astk">*</span>
                                        </label>
                                        <input th:field="*{contactName}" type="text" id="contact-name"
                                               class="text-field" placeholder="Ф.И.О.">
                                        <span th:if="${#fields.hasErrors('contactName')}"
                                              th:errors="*{contactName}" class="error-message"></span>
                                    </div>
                                    <!--                                <div class="u-s-m-b-30" th:classappend="${#fields.hasErrors('password')} ? 'error'">-->
                                    <!--                                    <label for="reg-password">Новый пароль-->
                                    <!--                                        <span class="astk">*</span>-->
                                    <!--                                    </label>-->
                                    <!--                                    <input th:field="*{password}" type="password" id="reg-password"-->
                                    <!--                                           class="text-field" placeholder="Пароль">-->
                                    <!--                                    <span th:if="${#fields.hasErrors('password')}"-->
                                    <!--                                          th:errors="*{password}" class="error-message"></span>-->
                                    <!--                                </div>-->
                                    <!--                                <div class="u-s-m-b-30"-->
                                    <!--                                     th:classappend="${#fields.hasErrors('password2')} ? 'error'">-->
                                    <!--                                    <label for="reg-password">Введите пароль еще раз-->
                                    <!--                                        <span class="astk">*</span>-->
                                    <!--                                    </label>-->
                                    <!--                                    <input th:field="*{password2}" type="password" id="reg-password2"-->
                                    <!--                                           class="text-field" placeholder="Пароль">-->
                                    <!--                                    <span th:if="${#fields.hasErrors('password2')}"-->
                                    <!--                                          th:errors="*{password2}" class="error-message"></span>-->
                                    <!--                                </div>-->
                                    <div class="u-s-m-b-45">
                                        <button class="button button-area w-100" disabled type="submit" id="refresh-button">Обновить данные
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Profile /- -->
                        </div>
                    </form>

                </div>
            </div>
            <!-- Account-Page /- -->
        </div>
    </div>
</div>
<!-- Custom-Deal-Page -->
<!-- Вставляем фрагмент футера -->
<div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
<script src="/assets/js/oda-shop.js"></script>
</body>
</html>
