<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>
<body>
<div id="app">
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div th:replace="~{fragments/top-menu :: top-panel(${menuGroups}, ${title}, ${totalItems})}"></div>
            <!-- Row-of-Product-Container -->
            <div class="row product-container grid-style">
                <!-- Shop-Right-Wrapper -->
                <div class="col-12">
                    <!-- Page-Bar -->
                    <div class="page-bar clearfix">
                        <div class="total-items col-6">
                            <h6 th:text="'Всего позиций: '+${totalItems}"/>
<!--                            <h6 th:text="'Всего позиций: '+${totalItems}+', from='+${pgFrom}+', until='+${pgUntil}"/>-->
                        </div>
                        <div class="form-selectors col-6">
                            <input type="hidden" id="src-path" th:value="${mainPage}+'/'+${alias}+'?'"/>
                            <form id="do-sort">
                                <input type="hidden" name="page" id="page-param" value="0"/>
                                <!-- Toolbar Sorter 1  -->
                                <div class="toolbar-sorter">
                                    <div class="select-box-wrapper">
                                        <label class="sr-only" for="sort-by">Сортировка:</label>
                                        <select name="sort" class="select-box" id="sort-by" title="Сортировка:">
                                            <option th:each="s : ${sortFields}"
                                                    th:value="${s.field}"
                                                    th:selected="${s.field.equals(sortparam)}"
                                                    th:text="${s.caption}"></option>
                                        </select>
                                    </div>
                                </div>
                                <!-- //end Toolbar Sorter 1  -->
                                <!-- Toolbar Sorter 2  -->
                                <div class="toolbar-sorter-2">
                                    <div class="select-box-wrapper">
                                        <label class="sr-only" for="show-records">Показывать&#133;</label>
                                        <select name="size" class="select-box" id="show-records"
                                                title="Показывать&#133;">
                                            <option th:selected="${pageSize == 12}" value="12">по 12</option>
                                            <option th:selected="${pageSize == 24}" value="24">по 24</option>
                                            <option th:selected="${pageSize == 0}" value="0">все</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- //end Toolbar Sorter 2  -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-item col-lg-3 col-md-6 col-sm-6" th:each="t : ${products}">
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" th:href="@{${t.purl}}">
                                <img class="img-fluid" th:src="${t.realPicBig}" th:alt="${t.normalTovName}">
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is">
                                <h6 class="item-title">
                                    <a th:href="@{${t.purl}}"><span th:text="${t.normalTovName}"/></a>
                                </h6>
                            </div>
                                <div class="row product-info-row">
                                    <div class="col-6">
                                        <div class="item-art" th:text="'Арт.: ' + ${t.dop}"></div>
                                        <div class="item-ost" th:text="'Ост.: ' + ${t.ostatok} + ' шт.'"></div>
                                    </div>
                                    <div class="price-template col-6">
                                        <div class="item-new-price text-right" th:text="${t.cena} + ' ₽'"></div>
                                    </div>
                                </div>
                            <div class="row">
                                    <div class="col-6">
                                        <div class="quantity">
                                            <input th:id="'q_'+${t.id}" type="text" class="quantity-text-field" value="1"/>
                                            <a class="plus-a" th:data-max="${t.ostatok}">+</a>
                                            <a class="minus-a" data-min="1">-</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <input type="hidden" th:id="'p_'+${t.id}" th:name="'p_'+${t.id}" th:value="${t.cena}"/>

                                        <button th:id="'cart-'+${t.id}"
                                                class="button button-outline-secondary cart-oda-button" th:classappend="${t.inCart} ? 'active' : ''"
                                                th:title="${t.inCart} ? 'Перейти к заказу' : 'Добавить в корзину'"
                                                th:onclick="${t.inCart} ? 'goToCart()' : 'addTovar('+${t.id}+')'">
                                            <i th:id="'ion-'+${t.id}" class="ion" th:classappend="${t.inCart} ? 'ion-md-checkmark-circle' : 'ion-md-cart'"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Shop-Pagination -->
            <div class="pagination-area">
<!--                <div class="pagination-number">-->
<!--                    <ul th:if="${totalPages > 1}">-->
<!--                        <li th:style="${currentPage == 0} ? 'display:none' : 'display:inline'">-->
<!--                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage - 1}, size=${pageSize}, sort=${sortparam})}"-->
<!--                               title="Предыдущая">-->
<!--                                <i class="fa fa-angle-left"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"-->
<!--                            th:class="${i == currentPage} ? 'active'">-->
<!--                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${i}, size=${pageSize}, sort=${sortparam})}"-->
<!--                               th:text="${i + 1}"></a>-->
<!--                        </li>-->
<!--                        <li th:style="${currentPage == totalPages - 1} ? 'display:none' : 'display:inline'">-->
<!--                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage + 1}, size=${pageSize}, sort=${sortparam})}"-->
<!--                               title="Следующая">-->
<!--                                <i class="fa fa-angle-right"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="pagination-number">
                    <ul class="pagination-list" th:if="${totalPages > 1}">
                        <li th:style="${currentPage == 0} ? 'display:none' : 'display:inline'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage - 1}, size=${pageSize}, sort=${sortparam})}" title="Предыдущая">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li  th:style="${currentPage > 2 or totalPages > 2} ? 'display:inline' : 'display:none'" th:class="${currentPage == 0} ? 'active'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=0, size=${pageSize}, sort=${sortparam})}">1</a>
                        </li>
                        <li th:if="${currentPage > 3}"><span>...</span></li>
                        <li th:each="i : ${#numbers.sequence(pgFrom, pgUntil)}" th:class="${i == currentPage} ? 'active'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${i}, size=${pageSize}, sort=${sortparam})}" th:text="${i + 1}"></a>
                        </li>
                        <li th:if="${currentPage < totalPages - 3}"><span>...</span></li>
                        <li th:style="${totalPages > 1} ? 'display:inline' : 'display:none'" th:class="${currentPage == totalPages - 1} ? 'active'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${totalPages - 1}, size=${pageSize}, sort=${sortparam})}" th:text="${totalPages}"></a>
                        </li>
                        <li th:style="${currentPage == totalPages - 1} ? 'display:none' : 'display:inline'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage + 1}, size=${pageSize}, sort=${sortparam})}" title="Следующая">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Shop-Pagination /- -->
        </div>
    </div>
</div>
<!-- Custom-Deal-Page -->
<!-- Вставляем фрагмент футера -->
<div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>

<script src="/assets/js/oda-cart.js"></script>
</body>
</html>
