<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head(${title})}">
</head>

<body>

<!-- app -->
<div id="app">

    <!-- Вставляем фрагмент шапки, передавая параметр isAuthenticated -->
    <div th:replace="~{fragments/header :: header(${isAuthenticated},${cartInfo})}"></div>

    <!-- Custom-Deal-Page -->
    <div class="page-deal u-s-p-t-80">
        <div class="container">
            <div th:replace="~{fragments/top-menu :: top-panel(
    ${menuGroups},
    ${title},
    ${totalItems}
)}"></div>

            <!-- Row-of-Product-Container -->
            <div class="row product-container grid-style">
                <!-- Shop-Right-Wrapper -->
                <div class="col-12">
                    <!-- Page-Bar -->
                    <div class="page-bar clearfix">
                        <form id="do-sort">
                            <input type="hidden" name="src-path" id="src-path" th:value="${mainPage}+'/'+${alias}+'?'"/>
                            <input type="hidden" name="sort" id="sort-by-param" value="price_up"/>
                            <input type="hidden" name="size" id="show-records-param" th:value="${pageSize}"/>
                        <!-- Toolbar Sorter 1  -->
                        <div class="toolbar-sorter">
                            <div class="select-box-wrapper">
                                <label class="sr-only" for="sort-by">Сортировка:</label>
                                <select name="sort-by" class="select-box" id="sort-by" title="Сортировка:">
                                    <option selected="selected" value="price_up">цена возр.</option>
                                    <option value="price_down">цена убыв.</option>
                                    <option value="rem_up">остаток возр.</option>
                                    <option value="rem_down">остаток убыв.</option>
                                    <option value="dop">артикул</option>
                                </select>
                            </div>
                        </div>
                        <!-- //end Toolbar Sorter 1  -->
                        <!-- Toolbar Sorter 2  -->
                        <div class="toolbar-sorter-2">
                            <div class="select-box-wrapper">
                                <label class="sr-only" for="show-records">Показывать&#133;</label>
                                <select name="show-records" class="select-box" id="show-records" title="Показывать&#133;">
                                    <option selected="selected" th:value="${pageSize}">по <span th:text="${pageSize}"/></option>
                                    <option value="24">по 24</option>
                                    <option value="0">все</option>
                                </select>
                            </div>
                        </div>
                        <!-- //end Toolbar Sorter 2  -->
                        </form>
                    </div>
                </div>
                <div class="product-item col-lg-3 col-md-6 col-sm-6" th:each="t : ${products}">
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" th:href="@{${t.purl}}">
                                <img class="img-fluid" th:src="${t.realPicBig}" th:alt="${t.normalTovName}">
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is">
                                <h6 class="item-title">
                                    <a th:href="@{${t.purl}}"><span th:text="${t.normalTovName}"/></a>
                                </h6>
                                <div class="item-ost" th:text="'Ост.: ' + ${t.ostatok} + ' шт.'"></div>
                            </div>
                            <div class="price-template">
                               <div class="item-new-price" th:text="${t.cena} + ' руб.'"></div>
<!--                               <div class="item-old-price">-->
<!--                                   $60.00-->
<!--                               </div>-->
                           </div>
                        </div>
<!--                        <div class="tag new">-->
<!--                            <span>НОВИНКА</span>-->
<!--                        </div>-->
                    </div>
                </div>

            </div>
            <!-- Shop-Pagination -->
            <div class="pagination-area">
                <div class="pagination-number">
                    <ul th:if="${totalPages > 1}">
                        <li th:style="${currentPage == 0} ? 'display:none' : 'display:inline'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage - 1}, size=${pageSize})}"
                               title="Предыдущая">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${i == currentPage} ? 'active'" >
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${i}, size=${pageSize})}"
                               th:text="${i + 1}"></a>
                        </li>
                        <li th:style="${currentPage == totalPages - 1} ? 'display:none' : 'display:inline'">
                            <a th:href="@{{mainpage}/{alias}(mainpage=${mainPage}, alias=${alias}, page=${currentPage + 1}, size=${pageSize})}"
                               title="Следующая">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Shop-Pagination /- -->
        </div>
    </div>
</div>
    <!-- Custom-Deal-Page -->
    <!-- Вставляем фрагмент футера -->
    <div th:replace="~{fragments/footer :: footer(${currentYear})}"></div>
<script>
    let form = document.getElementById('do-sort');
    form.addEventListener('change', function () {

        if(event.target.classList.contains('select-box')){
            let changedEl = document.getElementById(event.target.id);
            let sourceURL = document.getElementById("src-path");
            let sort_by = document.getElementById("sort-by-param");
            let show_records = document.getElementById("show-records-param");
            // console.log(sourceURL.value)
            if(changedEl.id === 'sort-by'){
                // console.log("Sort by:" + changedEl.value);
                sort_by.value = changedEl.value;
            }else if(changedEl.id === 'show-records'){
                // console.log("Number of records:" + changedEl.value);
                show_records.value = changedEl.value;
            }else return;

            let url = `${sourceURL.value}sort=${sort_by.value}&size=${show_records.value}`;
            console.log("URL:" + url);
            // form.submit();
        }
    });
</script>
</body>
</html>
