<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайте odadv.ru</title>
</head>
<body>
<h2>Регистрация на сайте odadv.ru</h2>
<p>Новая регистрация на сайте <a href="https:odadv.ru/">odadv.ru</a></p>
<p>Введены данные:</p>
    <ul>
        <li>Логин: <span th:text="${username}"></span></li>
        <li>Имя: <span th:text="${contactName}"></span></li>
</ul>

<h3><a href="https:odadv.ru/adminpanel">odadv.ru</a></h3>
</body>
</html>