<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайте odadv.ru</title>
</head>
<body>
<h2>Регистрация на сайте odadv.ru</h2>
<p>Кто-то (возможно вы) зарегистрировался на сайте <a href="https:odadv.ru/">odadv.ru</a>, указал имя <b><span th:text="${contactName}"></span></b> и ваш адрес (</b><span th:text="${username}"></span></b>).</p>
<p>Если это были вы, перейдите по ссылке ниже для завершения регистрации:</p>
<p><i>тут будет сформирована ссылка</i></p>
<p>Если это были не вы, просто проигнорируйте это письмо.</p>
<p>&nbsp;</p>
<p>Спасибо! Всего наилучшего!</p>
<h3><a href="https:odadv.ru/">odadv.ru</a></h3>
</body>
</html>